<!-- https://docs.angularjs.org/api/ng/directive/ngMaxlength -->
<div class = "container">
  <div class = "row">
    <div class = "col-sm-8 col-sm-offset-2">
      <div class = "fieldBuilder">
        <div class = "row">
          <div class = "col-sm-offset-2">
            <form name="myForm" form-autofill-fix>
            	<label>Label:</label> <input class = "mainInput" type="text" name="input" ng-model="label" required> 

            <br>
            	<label>Type:</label> <span class = "multiSelect"> Multi Select Text </span>  <input type="checkbox" class ="checkBox" checked="checked"> A value is required 
            <br>
            	<label>Default:</label> <input class ="mainInput" type="text" name="input" ng-model="default" required>
            <br>
              <div>
                <div id = "textareaDiv"> </div>
                <textarea type="text" rows="10" cols="30" ng-model = "choice" maxlines = "5" maxlines-prevent-enter="true" required>
                </textarea>
                <label class ="choices"> Choices: </label>
              </div>
            <br>
            	<div>
            	  <label class = 'order'> Order: </label>
            	    <select name="repeatSelect" id="repeatSelect" ng-model="order" required>
            	      <option value="abcSort"> Display choices in alphabetical order </option>
            	    </select>
            	</div>
            <br>
            <button type="button" id = 'searchSubmit' class="btn btn-primary btn-lg active" ng-click ="formInfo(label, default, choice, order)" class ="searchSubmit" ng-disabled="myForm.$invalid">Search</button> or <button class = "cancel" ng-click= "clearFields()">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
