<!-- https://docs.angularjs.org/api/ng/directive/ngMaxlength -->
<div class = "container">
  <div class = "row">
    <div class = "col-sm-8 col-sm-offset-2">
      <div class = "fieldBuilder">

        <div class = "row">
          <div class = "col-sm-offset-2">
        <form name="myForm">
        	
        	<label>Label:</label> <input class = "mainInput" type="text" name="input" ng-model="label" required> 

        <br>

        	<label>Type:</label> <span class = "multiSelect"> Multi Select Text </span>  <input type="checkbox" class ="checkBox" checked="checked"> A value is required 

        <br>

        	<label>Default:</label> <input class ="mainInput" type="text" name="input" ng-model="default" required>

        	
        <br>

        <div>
            <label class ="choices"> Choices: </label>
            <textarea type="text" rows="10" cols="30" ng-bind-html = "choice" ng-model = "choice" maxlines = "5" maxlines-prevent-enter="true" required>
            </textarea>

        </div>

        <br>

        	<div>
        	  <label> Order: </label>
        	    <select name="repeatSelect" id="repeatSelect" ng-model="order" required>
        	      <option value="options1"> Display choices in alphabetical order </option>
        	    </select>
        	</div>
        <br>

        <button type="button" id = 'searchSubmit' class="btn btn-primary btn-lg active" ng-click ="formInfo(label, default, choice, order)" class ="searchSubmit" ng-disabled="myForm.$invalid">Search</button> or <button class = "cancel" ng-click= "clearFields()">Cancel</button>
        </form>


        <!-- <button type="button" id = 'searchSubmit' class="btn btn-primary btn-lg active" ng-click ="formInfo(label, default, textBox, order)" class ="searchSubmit" ng-disabled="myForm.$invalid">Search</button> -->

        </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- <div> -->
  <!-- <form name="form"> -->
    <!-- <label for="maxlength">Set a maxlength: </label> -->
    <!-- <input type="number" ng-model="maxlength" id="maxlength" /> -->
<!--     <br>
    <label for="input">This input is restricted by the current maxlength: </label>
    <input type="text" ng-model="model" id="input" name="input" ng-maxlength="maxlength" /><br>
    <hr>
    input valid? = <code>{{form.input.$valid}}</code><br>
    model = <code>{{model}}</code>
  </form>
</div> -->



<!-- <form name="myForm">
 <div contenteditable
      name="myWidget" ng-model="userContent" ng-style="{color: color}"
      strip-br="true"
      maxlines = "5" maxlines-prevent-enter="true"
      required>Change me!</div>
  <span ng-show="myForm.myWidget.$error.required">Required!</span>
 <hr>
 <textarea ng-model="userContent.length" aria-label="Dynamic textarea"></textarea>
</form>
 <section ng-if="Number.length > 10">It's {{userContent.length}}</section> -->

<!-- <br>
<hr> -->
<!-- <textarea id="test1" type = "text" maxlines = "5" maxlines-prevent-enter="true"></textarea>
<textarea id="test2" type = "text" maxlines = "5" maxlines-prevent-enter="true"></textarea> -->






